@use '../abstracts/variables' as *;

.main-header {
  background: #0d0402;
  height: 64px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-width: 1.5px;
  padding: 12px 48px;
  img {
    border-radius: 50%;
    width: 40px;
    height: auto;
  }

  .JaMoveo-logo {
    gap: 8px;
    color: $primary-color;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
  }
}